<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>qqq</servlet-name>
    <servlet-class>yueba.servlet.qqq</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.yb.ybservlet.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.yb.ybservlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Praise</servlet-name>
    <servlet-class>com.yb.ybservlet.Praise</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>homenews</servlet-name>
    <servlet-class>com.yb.ybservlet.homenews</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuctionServletCL</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.AuctionServletCL</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuctiondetailServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.AuctiondetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaleGoodsClServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.SaleGoodsClServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyGoodsCLServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.BuyGoodsCLServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishGoodsClServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.PublishGoodsClServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishAuctionServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.PublishAuctionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginClServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.LoginClServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAccountCLServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.UserAccountCLServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserTiaozaoOrderServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.UserTiaozaoOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserTiaozaoGoodsServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.UserTiaozaoGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserTiaozaoGoodsDeleteServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.UserTiaozaoGoodsDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTiaozaoReleaseServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.DeleteTiaozaoReleaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTiaozaoOrderServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.DeleteTiaozaoOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditTiaozaoReleaseServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.EditTiaozaoReleaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuctionBackDetailServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.AuctionBackDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAuctionServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.UserAuctionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAuctionServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.DeleteAuctionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZhuxiaoServlet</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.ZhuxiaoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>添加活动</description>
    <servlet-name>ActivityServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.ActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>所有活动</description>
    <servlet-name>ShowAllActivityServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.ShowAllActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>活动详细</description>
    <servlet-name>ShowActivityViewServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.ShowActivityViewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>活动报名</description>
    <servlet-name>ActivityJoinServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.ActivityJoinServlet</servlet-class>
  </servlet>
  <servlet>
    <description>取消报名</description>
    <servlet-name>ActivityCancelServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.ActivityCancelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>报名用户</description>
    <servlet-name>UserJoinServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.UserJoinServlet</servlet-class>
  </servlet>
  <servlet>
    <description>点赞</description>
    <servlet-name>ActivityPraiseServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.ActivityPraiseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>点赞1</description>
    <servlet-name>ActivityPraiseAServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.ActivityPraiseAServlet</servlet-class>
  </servlet>
  <servlet>
    <description>我参加的</description>
    <servlet-name>MyJoinActivityServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.MyJoinActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>我创建的</description>
    <servlet-name>MyCreateServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.MyCreateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>删除活动</description>
    <servlet-name>DeleteActivityServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.DeleteActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>修改活动</description>
    <servlet-name>ModifyActivityServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.ModifyActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>个人详细信息</description>
    <servlet-name>ShowUserInfoServlet</servlet-name>
    <servlet-class>com.yb.ybservlet.ShowUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>表白评论</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>love_commentt</servlet-name>
    <servlet-class>com.yb.ybservlet.love_commentt</servlet-class>
  </servlet>
  <servlet>
    <description>老乡会评论</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>news_commentt</servlet-name>
    <servlet-class>com.yb.ybservlet.news_commentt</servlet-class>
  </servlet>
  <servlet>
    <description>删除表白</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>lovedel</servlet-name>
    <servlet-class>com.yb.ybservlet.lovedel</servlet-class>
  </servlet>
  <servlet>
    <description>添加活动</description>
    <servlet-name>FoodActivityServlet</servlet-name>
    <servlet-class>chiba.servlet.FoodActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>活动</description>
    <servlet-name>FoodShowAllActivityServlet</servlet-name>
    <servlet-class>chiba.servlet.FoodShowAllActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>添加活动</description>
    <servlet-name>ShowFoodServlet</servlet-name>
    <servlet-class>chiba.servlet.ShowFoodServlet</servlet-class>
  </servlet>
   <servlet>
    <description>个人中心</description>
     <servlet-name>UserCenter</servlet-name>
    <servlet-class>com.yb.ybservlet.UserCenter</servlet-class>
  </servlet>
  
  
  <servlet>
    <description>参与</description>
    <servlet-name>Atup</servlet-name>
    <servlet-class>chiba.servlet.Atup</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Showprofile</servlet-name>
    <servlet-class>chiba.servlet.Showprofile</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Showself_create</servlet-name>
    <servlet-class>chiba.servlet.Showself_create</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Showjoin_act</servlet-name>
    <servlet-class>chiba.servlet.Showjoin_act</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>foodServlet</servlet-name>
    <servlet-class>meishi.servlet.foodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Showfood</servlet-name>
    <servlet-class>meishi.servlet.Showfood</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Showdetail</servlet-name>
    <servlet-class>meishi.servlet.Showdetail</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Upstate</servlet-name>
    <servlet-class>meishi.servlet.Upstate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Lovefood</servlet-name>
    <servlet-class>youlike.Lovefood</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Cancel_join</servlet-name>
    <servlet-class>chiba.servlet.Cancel_join</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowTiaozaoGoods</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.ShowTiaozaoGoods</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowTiaozaoOrder</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.ShowTiaozaoOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAuction</servlet-name>
    <servlet-class>cn.edu.ynnu.laibar.taobar.servlet.ShowAuction</servlet-class>
  </servlet>
>

  <servlet-mapping>
    <servlet-name>qqq</servlet-name>
    <url-pattern>/servlet/qqq</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Praise</servlet-name>
    <url-pattern>/Praise</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>homenews</servlet-name>
    <url-pattern>/homenews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityServlet</servlet-name>
    <url-pattern>/ActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllActivityServlet</servlet-name>
    <url-pattern>/ShowAllActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowActivityViewServlet</servlet-name>
    <url-pattern>/ShowActivityViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityJoinServlet</servlet-name>
    <url-pattern>/ActivityJoinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityCancelServlet</servlet-name>
    <url-pattern>/ActivityCancelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserJoinServlet</servlet-name>
    <url-pattern>/UserJoinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityPraiseServlet</servlet-name>
    <url-pattern>/ActivityPraiseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityPraiseAServlet</servlet-name>
    <url-pattern>/ActivityPraiseAServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyJoinActivityServlet</servlet-name>
    <url-pattern>/MyJoinActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyCreateServlet</servlet-name>
    <url-pattern>/MyCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteActivityServlet</servlet-name>
    <url-pattern>/DeleteActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyActivityServlet</servlet-name>
    <url-pattern>/ModifyActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUserInfoServlet</servlet-name>
    <url-pattern>/ShowUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>love_commentt</servlet-name>
    <url-pattern>/love_commentt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>news_commentt</servlet-name>
    <url-pattern>/news_commentt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lovedel</servlet-name>
    <url-pattern>/lovedel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-mapping>
    <servlet-name>UserCenter</servlet-name>
    <url-pattern>/UserCenter</url-pattern>
  </servlet-mapping>
  
  
    <servlet-name>AuctionServletCL</servlet-name>
    <url-pattern>/AuctionServletCL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuctiondetailServlet</servlet-name>
    <url-pattern>/AuctiondetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaleGoodsClServlet</servlet-name>
    <url-pattern>/SaleGoodsCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyGoodsCLServlet</servlet-name>
    <url-pattern>/BuyGoodsCLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishGoodsClServlet</servlet-name>
    <url-pattern>/PublishGoodsClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishAuctionServlet</servlet-name>
    <url-pattern>/PublishAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginClServlet</servlet-name>
    <url-pattern>/LoginClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAccountCLServlet</servlet-name>
    <url-pattern>/UserAccountCLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTiaozaoOrderServlet</servlet-name>
    <url-pattern>/UserTiaozaoOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTiaozaoGoodsServlet</servlet-name>
    <url-pattern>/UserTiaozaoGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTiaozaoGoodsDeleteServlet</servlet-name>
    <url-pattern>/UserTiaozaoGoodsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTiaozaoReleaseServlet</servlet-name>
    <url-pattern>/DeleteTiaozaoReleaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTiaozaoOrderServlet</servlet-name>
    <url-pattern>/DeleteTiaozaoOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditTiaozaoReleaseServlet</servlet-name>
    <url-pattern>/EditTiaozaoReleaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuctionBackDetailServlet</servlet-name>
    <url-pattern>/AuctionBackDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserCenter</servlet-name>
    <url-pattern>/UserCenter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAuctionServlet</servlet-name>
    <url-pattern>/UserAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAuctionServlet</servlet-name>
    <url-pattern>/DeleteAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZhuxiaoServlet</servlet-name>
    <url-pattern>/ZhuxiaoServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ChineseFilter</filter-name>
    <filter-class>cn.edu.ynnu.laibar.taobar.filter.ChineseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ChineseFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>FoodActivityServlet</servlet-name>
    <url-pattern>/FoodActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoodShowAllActivityServlet</servlet-name>
    <url-pattern>/FoodShowAllActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowFoodServlet</servlet-name>
    <url-pattern>/ShowFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Atup</servlet-name>
    <url-pattern>/Atup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Showprofile</servlet-name>
    <url-pattern>/Showprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Showself_create</servlet-name>
    <url-pattern>/Showself_create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Showjoin_act</servlet-name>
    <url-pattern>/Showjoin_act</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>foodServlet</servlet-name>
    <url-pattern>/foodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Showfood</servlet-name>
    <url-pattern>/Showfood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Showdetail</servlet-name>
    <url-pattern>/Showdetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upstate</servlet-name>
    <url-pattern>/Upstate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lovefood</servlet-name>
    <url-pattern>/Lovefood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Cancel_join</servlet-name>
    <url-pattern>/Cancel_join</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTiaozaoGoods</servlet-name>
    <url-pattern>/ShowTiaozaoGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTiaozaoOrder</servlet-name>
    <url-pattern>/ShowTiaozaoOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAuction</servlet-name>
    <url-pattern>/ShowAuction</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>